/* NAVBAR */

#nav-bar {
  background-color: #96006a;
  border-radius: 0; 
  height: 70px;
}

#home-button {
  font-size: 24px;
  font-weight: 700;
}

#login-button {
  background: none;
  color: white
}

/* HOMEPAGE */

#buyers-bar,
#suppliers-bar {
  background-color: #96006a;
  color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}