/* NAVBAR */

#nav-bar {
  background-color: #96006a;
  border-radius: 0;
  height: 70px;
  display: flex;
  align-items: center;
}

#language-select {
  display: flex;
  text-align: center;
  width: 105px;
  margin-right: 10vw;
}

#drop-button {
  background: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 105px;
}

#language-options {
  display: none;
  position: absolute;
  margin-top: 70px;
  background-color: none;
  width: 105px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#language-button {
  background-color: #a51279;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#language-button:hover {
  background-color: #af2987;
}

#language-button:focus {
  outline: none;
}

#language-options a:hover {
  background-color: none;
}

#language-select:hover #language-options {
  display: flex;
  flex-direction: column;
}

#language-select:hover #drop-button {
  background-color: #a51279;
}

#language-select select {
  display: none;
}

#logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: white;
  margin-left: 10vw;
  border-radius: 20px;
}

#phadder-logo {
  height: 30px;
  width: 30px;
  background-image: url("./images/phadder_logo.png");
  background-size: contain;
}
#buyer1-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_buyer_cta_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#buyer2-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_buyer_cta_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#buyer3-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_buyer_cta_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#supplier1-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_new_service_provider1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#supplier2-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_build_your_reputation2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#supplier3-logo {
  height: 300px;
  width: 500px;
  background-image: url("./images/phadder_need_for_trust3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#login-button,
#profile-button,
#logout-button {
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}

#login-button:hover,
#profile-button:hover,
#language-select:hover,
#home-button:hover,
#logout-button:hover {
  background-color: #a51279;
}

#home-button {
  font-size: 24px;
  font-weight: 900;
  color: white;
  background-color: #96006a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* HOMEPAGE */

#buyers-bar,
#suppliers-bar {
  background-color: #96006a;
  color: white;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#buyer-explain-div {
  background-color: white;
}

#buyer-explain-title {
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

#suppliers-explain-div {
  background-color: white;
}

#suppliers-title {
  font-size: 36px;
  font-weight: 500;
  color: gray;
  font-family: "Montserrat", sans-serif;
}

#suppliers-pre-title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: -20px;
  font-family: "Montserrat", sans-serif;
}

#cover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -200px;
  margin-right: -200px;
  /* width: 100vw; */
  margin-top: -14px;
  background-image: url("./images/cover_3.png");
  background-size: cover;
  text-align: center;
  height: 40vh;
}

#cover-info {
  background-color: rgba(255, 255, 255, 0.37);
  width: 600px;
  height: 200px;
  font-family: "Montserrat", sans-serif;
}

#main-actions-title {
  font-size: 32px;
  margin: 20px;
  color: rgb(92, 92, 92);
  font-family: "Montserrat", sans-serif;
}

#main-actions-info {
  font-size: 18px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

#main-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#explain-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sign-up-button,
#get-location-button {
  background-color: #96006a;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#sign-up-button:hover {
  background-color: #c81793;
}

/* #sign-up-button:hover,
#create-request-button:hover {
  background-color: #a51279;
} */

#buyers-button,
#suppliers-button {
  background: white;
  color: #0c0c0c;
  font-size: 28px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

#selected-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#active-stroke {
  outline: 1px solid #c81793;
  width: 50%;
}

#inactive-stroke {
  width: 50%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* LOGIN MODAL */

#login-title {
  color: #a51279;
  font-family: "Montserrat", sans-serif;
}

#login-label {
  color: rgb(92, 92, 92);
  font-family: "Montserrat", sans-serif;
}

#login-form-submit,
#facebook-login {
  margin: 5px;
  background-color: #96006a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#login-form-submit:hover,
#facebook-login:hover {
  background-color: #c81793;
}

/* SIGN UP MODAL */

#signup-title {
  color: #a51279;
  font-family: "Montserrat", sans-serif;
}

#signup-label {
  color: rgb(92, 92, 92);
  font-family: "Montserrat", sans-serif;
}

#submit-account-button {
  margin: 5px;
  background-color: #96006a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#submit-account-button:hover {
  background-color: #c81793;
}

/* CREATE REQUEST MODAL */

#create-request-title {
  color: #a51279;
  font-family: "Montserrat", sans-serif;
}

#create-request-label {
  color: rgb(92, 92, 92);
  font-family: "Montserrat", sans-serif;
}

#submit-request-button,
#cancel-cityfetch-modal,
#create-request-button {
  margin: 5px;
  background-color: #96006a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* CITY FETCHER MODAL */

#location-title {
  color: #a51279;
  font-family: "Montserrat", sans-serif;
}

#location-display {
  color: #a51279;
  font-family: "Montserrat", sans-serif;
}

#location-button {
  margin: 5px;
  background-color: #96006a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* USER PROFILE */

#user-profile,
#profile-pic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#service-request-title {
  color: #96006a;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

#handle-requests-buttons {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

#service-requests-bar {
  background-color: #96006a;
  height: 1px;
  margin: 30px;
  font-family: "Montserrat", sans-serif;
}

#profile-welcome {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

#profile-avatar {
  margin: 30px;
}

#edit-profile-picture,
#my-requests-button,
#request-activity,
#request-pening,
#request-deals {
  margin: 5px;
  background-color: #96006a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#edit-profile-picture:hover,
#my-requests-button:hover,
#request-activity:hover,
#request-pening:hover,
#request-deals:hover {
  background-color: #c81793;
}

#user-service-request {
  background-color: #dddddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

/* FOOTER */

#footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(230, 230, 230);
}
